*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
 --theme-backdrop:#020618;
 --theme-background:#0F172B;
 --theme-border:#314158;
 --theme-primitive:#615FFF;
 --theme-primitive-teal:#00D5BE;
 --theme-foreground:#90A1B9;
 --link-foreground:#FFA1AD;
 --heading-foreground:#F8FAFC;
 --link-hover-foreground:#FFCCD2;
 --active:#FFB86A;
}

html,body{
    font-family: 'Source Code Pro', sans-serif;
    font-size: 12px;
    background-color: var(--theme-backdrop);
    color: white;
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

a{
    text-decoration: none;
    color: var(--theme-foreground);
}

ul{
    text-decoration: none;
    list-style-type: none;
}

img{
    max-width: 100%;
}
/* Utility Classes */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    
    
}
.container-sm{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}
.btn{
    display: inline-block;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: #FFB86A;
    color: #020618;
    cursor: pointer;
    transition: all 0.2s;
}
.btn:hover{
    background-color: #FFD6A7;
    color: #020618;
}
.home{
    margin: 70px 70px;
    border: 1px solid var(--theme-border);
    border-radius: 8px;
    background-color: var(--theme-background);
    /* height: 84vh; */
    
    
}
.nav__container{
    
    border-bottom: 1px solid var(--theme-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.nav__main-menu-list{
    flex: 1;
    
    display: flex;    
    
    align-items: center;
    text-align: center;
    
    
}
.nav__main-menu-list li{
    padding: 1rem ;
    border-right: 1px solid 
    var(--theme-border);
    text-align: center;
}
.nav__name {
    flex: 1;
    border-right: 1px solid 
    var(--theme-border);
    padding: 1rem;
    text-align: left;
}
.nav__contact {
    flex: 6;
    text-align: right;
}
.menu__item-contact-link{
    padding: 1.2rem;
    border-left: 1px solid var(--theme-border);

}
.current{
    border-bottom: 1px solid var(--active);
}

.nav__mobile-menu{
    display: none;
    
}
.navbar a{
    font-size: 1.2rem;
}
/* Home Content */
.home-content{
    padding: 140px 140px;
}
.home-content__flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 146px;
}
.home-content__image{
    /* height: 100px; */
    width: 400px;
    position: relative;
}
.home-content__png{
    position: absolute;
    top: -123px;
    left: -189px;
    width: 800px;
}
.home-content__profile{
    position: relative;
    
}
.home-content__image img{
    border-radius: 20px;
    
}
.home-content__about{
    display: flex;
    flex-direction: column;
    gap: 60px;
    
}
.home-content__text{
    color: #314058;
    font-size: 1.2rem;
}
.home-content__name{
    font-size: 4rem;
    font-weight: 500;
}
.home-content__job-title{
    font-size: 1.5rem;
    color: var(--theme-primitive);
    font-weight: 500;    
}
.home-content__introduction{
    line-height: 1.2;
}
.home-content__const{
    color: var(--theme-primitive);
}
.home-content__githublinks{
    color: var(--theme-primitive-teal);
}
.home-content__link{
    color: var(--active);
}
.home-content__git-links{
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Footer */
.footer__flex{
    font-size: 1.2rem;
    border-top: 1px solid var(--theme-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__social-media .footer__links{
    display: flex;
    align-items: center;
    
}
.footer__links li{
    padding: 1rem;
    border-right: 1px solid var(--theme-border);
    /* background-color: white; */
    height: 100%;
}

.footer__gitLink{
    padding: 1rem;
    border-left: 1px solid var(--theme-border);
    
}

/* Media Queries */
@media(max-width:1200px){
    .home-content__png{    
    width: 700px;
    }
    .home-content__profile{
        width: 320px;
    }
    .home-content__name {
    font-size: 3.2rem;
    }
    .home-content__text {
    
    font-size: 1.1rem;
    }
}
@media(max-width:992px){    
    body{
        overflow-y: scroll;
    }
    .nav__mobile-menu{        
        display: block; 
        padding:1rem;         
    }
    .nav__main-menu-list,.nav__contact{
        display: none;
    }
    .nav__name{
        border: none;
        flex: 0;
        padding: 0;
        font-size: 2rem;
        margin-left: 1rem;
    }
    .home-content__flex{
        gap: 80px;
    }
    .home-content__png{    
            width: 511px;
        top: -98px;
    }
    .home-content__profile{
        width: 220px;
    }
    .home-content__name {
    font-size: 3rem;
    }
}
@media(max-width:768px){
    .home{
    margin: 40px 10px;
  }
  .home-content {
    padding: 10px 140px;
}
    .home-content__flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-content__png
    {
        width: 575px;
        top: -422px;
        left: -96px;
    }
    .home-content__profile {
        display: none;
    }
}
@media (max-width: 576px) {
    .footer__gitLink{
        display: none;
    }    
    .footer__flex{
        justify-content: space-around;
    }
    .home-content {  
    flex: 2;
    }
    .home-content__png {
        width: 488px;
        top: -377px;
        left: -40px;
    }
    .home-content__flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-content__name {
    font-size: 3rem;
    }
    .home-content__text {
        font-size: 1.2rem;
        
    }
    .home-content__git-links{
        font-size: 1.2rem;
    }
    .home{
        margin: 60px 10px;
        height: 90vh;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 376px) {
  /* Styles for standard smartphones */
  .home{
    margin: 40px 10px;
  }
  .home-content {
    padding: 10px 140px;
}
}
