*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Code Pro', sans-serif;
    font-size: 12px;
    background-color: #020618;
    color: white;
}
.main-container{
    background-color: #0F172B;
    border-radius: 4px;
    /* padding: 10px; */
    border: #314158;
   
    border-style:solid;
    
    margin: 100px;
    border-width: 1px;
}
.nav-bar{
    border: #314158;
    border-style:solid;
    border-width: 1px;
    /* margin: 10px; */
    list-style: none;
}
.nav-bar li{
    border: #314158;
    /* padding: 1px; */
    border-style:solid;
     border-width: 1px;
     display: inline;
     margin: 40px;

}
.name{    
    /* margin-top: 5px; */
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    margin-bottom: 5px;
    
}
.space{
    margin: 200px;
}


