*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
 --theme-backdrop:#020618;
 --theme-background:#0F172B;
 --theme-border:#314158;
 --theme-primitive:#615FFF;
 --theme-primitive-teal:#00D5BE;
 --theme-foreground:#90A1B9;
 --link-foreground:#FFA1AD;
 --heading-foreground:#F8FAFC;
 --link-hover-foreground:#FFCCD2;
 --active:#FFB86A;
}

html,body{
    font-family: 'Source Code Pro', sans-serif;
    font-size: 12px;
    background-color: var(--theme-backdrop);
    color: white;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--theme-foreground);
}
ul{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* Utility Classes */
.contianer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.container-sm{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}
.btn{
    display: inline-block;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: #FFB86A;
    color: #020618;
    cursor: pointer;
    transition: all 0.2s;
}
.btn:hover{
    background-color: #FFD6A7;
    color: #020618;
}
.home{
    margin: 70px 70px;
    border: 1px solid var(--theme-background);
    border-radius: 8px;
}
.nav__container{
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--theme-border);
    display: flex;
    justify-content: space-between;    
    
}
.nav__items{
    
    display: flex;    
    justify-content: space-between;
    align-items: center;
    
}
.menu__item-link{
    padding: 1rem;
    border-right: 1px solid 
    var(--theme-border);
    text-align: center;
    
}
.current{
    border-bottom: 1px solid var(--active);
}
.nav__contanct .menu__item-link{
    border-right: none;
    border-left: 1px solid var(--theme-border);
    text-align: center;
}

.home-content{
    
}