*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #020618;
    color: white;
}
.main-container{
    background-color: #0F172B;
    border-radius: 4px;
    padding: 10px;
    border: #314158;
    border-style:solid;
    margin: 100px;
}